
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Template &middot; Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 20px;
				padding-bottom: 40px;
			}
			.footer {
				padding: 70px 0;
				margin-top: 70px;
				border-top: 1px solid #e5e5e5;
				background-color: #f5f5f5;
			}


		</style>
		<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="bootstrap/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
	</head>

	<body>


		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand">{{.Name}} statistics</a>
					<ul class="nav">
						<li class="active">
						<a href="#">Home</a>
						</li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr/>

		<div class="container">
			<div class="page-header">
				<h1>Statistics for {{.Name}}</h1>
			</div>
			<div class="row">
				<div class="span4">
					<p class="lead">The following statistics were tracked during a {{.Days}} day period.</p>
					<p>During this period we saw <strong>X</strong> unique users with a total activity of <strong>Y</strong>
					different activity events.</p>
					<p>Of these events, a total of <strong>Z</strong> and <strong>α</strong> words were spoken.</p>
				</div>
				<div class="span8">
          <p>CHARTS! CHARTS! CHARTS!</p>
				</div>
			</div>
			<hr>
			<div class="page-header">
				<h2>Activity Metrics <small>When were the users most active?</small></h2>
			</div>
			<div class="row">
				<div class="span4">
					<h3>Daily activity</h3>
					<p class="lead">Most channel activity occurred between <strong>6:00</strong> and <strong>12:00</strong>.</p>
					<p>The second most active day quarter was <strong>12:00-18:00</strong>.</p>
				</div>
				<div class="span8">
          <p><b>87 BAZILLION CHARTS WITH 96.5% MORE WUB WUB</b></p>
				</div>
			</div>
			<hr/>
			<div class="page-header">
				<h2>Quality Metrics <small>How much did people speak? What did people say?</small></h2>
			</div>
			<div class="row">
				<div class="span4">
					<h3>Characters vs. number of lines</h3>
					<p class="lead">On average, people wrote <strong>X</strong> characters per line on <strong>Y</strong> lines.</p>
					<small>The median characters per line was <strong>A</strong> characters and the median
					lines spoken was <strong>B</strong>.</small>
				</div>
				<div class="span8">
          <p>I AM ALL THAT IS STATISTICALLY SIGNIFICANT!</p>
				</div>
			</div>
		</div>

		<footer class="footer">
		<div class="container">
			<p>Generated by <a href="http://github.com/ane/speedchurn/">speedchurn</a> in {{.Time}} seconds</p>
			<p>Theme created using <a href="http://twitter.github.com/bootstrap">Bootstrap</a></p>
		</div>
		</footer>



		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="bootsrap/js/jquery.js"></script>
		<script src="bootsrap/js/bootstrap-transition.js"></script>
		<script src="bootsrap/js/bootstrap-alert.js"></script>
		<script src="bootsrap/js/bootstrap-modal.js"></script>
		<script src="bootsrap/js/bootstrap-dropdown.js"></script>
		<script src="bootsrap/js/bootstrap-scrollspy.js"></script>
		<script src="bootsrap/js/bootstrap-tab.js"></script>
		<script src="bootsrap/js/bootstrap-tooltip.js"></script>
		<script src="bootsrap/js/bootstrap-popover.js"></script>
		<script src="bootsrap/js/bootstrap-button.js"></script>
		<script src="bootsrap/js/bootstrap-collapse.js"></script>
		<script src="bootsrap/js/bootstrap-carousel.js"></script>
		<script src="bootsrap/js/bootstrap-typeahead.js"></script>

	</body>
</html>

